.{
    color: #3a4664;
    color: #eaa0a2;
    color: #ffdbdc;
    color: #aaaaaa;
    color: #008080;
    color: #ffcad4;
    color: #7a5c58;
    color: rgb(224,255,255);
    color: rgb(0,255,255);
    <li><i class="fab fa-facebook"></i><a href="https://www.facebook.com/profile.php?id=100036509291375"></a></li>*/


}